<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Items</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Items</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Update</th>
        <th>Remove</th>
    </tr>
    <tr th:each="item : ${items}">
        <form action="#" th:action="@{/admin/items}" method="post">
            <td>
                <input th:value="${item.id}" id="id" name="id"/>
            </td>
            <td>
                <input th:value="${item.name}" id="name" name="name"/>
            </td>
            <td>
                <input th:value="${item.description}" id="description" name="description"/>
            </td>
            <td>
                <input th:value="${item.price}" id="price" name="price"/>
            </td>
            <td>
                <input type="submit" name="action" value="update"/>
            </td>
            <td>
                <input type="submit" name="action" value="remove"/>
            </td>
        </form>
    </tr>
</table>

<form action="#" th:action="@{/admin/items}" th:object="${newItem}" method="post">
    <input type="submit" value="new item"/>
</form>
</body>
</html>