<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Cart</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr th:each="item : ${items}">
        <form action="#" th:action="@{/cart}" method="post">
                <input type="hidden" th:value="${item.id}" id="id" name="id"/>
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.price}"></td>
            <td><input type="submit" name="action" value="remove"/></td>
        </form>
    </tr>
</table>


</body>
</html>