<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Customers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Customers</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Purchases</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <form action="#" th:action="@{purchases}" method="get">
            <input type="hidden" th:value="${customer.id}" name="id" id="id"/>
            <td th:text="${customer.name}" name="name" id="name"></td>
            <td><input type="submit" value="Go"/></td>
        </form>
    </tr>
</table>

</body>
</html>